<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo-header" src="../../assets/logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="tv"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input [(ngModel)]="films.title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Images</ion-label>
      <ion-input [(ngModel)]="films.images" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addFilm()"
        color="primary" shape="full" expand="block">
        Ajouter un film
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Listes de film
    </ion-list-header>

    <ion-item lines="inset" *ngFor="let movie of FilmsData">
      <ion-label>
        <ion-avatar style="width: 80;height: 50px;">
          <img src="{{movie.images}}">
      </ion-avatar>
        <h5>{{ movie.title }}</h5>
      </ion-label>

        <div class="item-note">
          <ion-icon name="create-outline" style="zoom: 2.0;"></ion-icon>
          <ion-icon name="trash-outline" style="zoom: 2.0;" (click)="deleteFilm(film.id)"></ion-icon>
        </div>
    </ion-item>
  </ion-list>
</ion-content>