<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo-header" src="../../assets/logo.png">
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="tv"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <form>
      <h2>Connexion - Client </h2>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required name="email" [(ngModel)]="client.email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required name="password" [(ngModel)]="client.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="formLogin()">Se connecter</ion-button>
          <ion-button type="submit" color="primary" expand="block" (click)="formInscription()">S'inscrire</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-button routerLink="../admin/" color="light" expand ="block">Connexion Administrateur</ion-button>
</ion-content>
